[Unit]
Description=Create uap0 virtual WiFi AP interface
After=sys-subsystem-net-devices-wlan0.device
Wants=sys-subsystem-net-devices-wlan0.device
Before=optocam-hotspot.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=/bin/sleep 3
ExecStart=/sbin/iw dev wlan0 interface add uap0 type __ap
ExecStop=/sbin/iw dev uap0 del

[Install]
WantedBy=multi-user.target
